www.v2/binaries/products/*
www.v2/binaries/products/
www.v2\binaries\products\
www.v2\binaries\products\*
www.v2/binaries/products/img-0-thumb.png
www.v2/binaries/products/img-0.png
www.v2/binaries/products/img-10-thumb.png
www.v2/binaries/products/img-10.png